<div class="col-xs-8">
    <!-- <label>Id</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.Id" readonly disabled class="form-control" /> -->

    <label>Фамилия</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.lastName" class="form-control" />

    <label>Имя</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.firstName" class="form-control" />
        
    <label>Отчество</label>   
        <input type="text" [(ngModel)]="clientComp.editedClient.secondName" class="form-control" />

    <label>Пол</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.gender" class="form-control" />

    <label>Год рождения</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.yearBirth" class="form-control" />

    <label>Группа риска</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.riskGroup" class="form-control" />

    <label>Номер паспорта</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.pasportNumber" class="form-control" />

    <label>Город</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.city" class="form-control" />

    <label>Страна</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.country" class="form-control" />

    <label>Электронная почта</label>
        <input type="text" [(ngModel)]="clientComp.editedClient.email" class="form-control" /><br/>
   
        <input type="button" value="Сохранить" (click)="clientComp.saveClient()" class="btn btn-success" routerLink="/clients" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
</div>